<h3 style="margin-left: 100px;">Sliding Puzzle</h3>
<!-- <main style="grid-template-columns: 120px 120px 120px 120px;"> -->
<main [ngStyle]="{'grid-template-columns': this.bsize === 4 ? '120px 120px 120px 120px' : '150px 150px 150px', 'width' : this.bsize === 4 ? '480px' : '450px'}">
    <button *ngFor="let i of board" (click)="clickFunction(i)" [ngClass]="this.bsize==3 ? 'board3' : 'board4'" 
        [class.board-special3]="i===this.bsize*this.bsize && this.bsize===3"
        [class.board-special4]="i===this.bsize*this.bsize && this.bsize===4">{{i |
        notnine : this.bsize}}</button>
</main>
<div style="margin-left: 100px;">

    <div class="div">
        <br />
        <button (click)="shuffleBoard(board)">Shuffle</button>
        <button (click)="makeTree(this.board, 31)">Find Solution</button>
        <button [disabled]="disabledButton" (click)="solveFromMoves(moves)">SolveMoves</button>
        <button (click)="resetBoard()">Reset</button>
        <pre>

            <b>Manhattan Distance:</b> {{mdSum(this.board)}} <b> Linear Conflicts</b> {{linearConflicts(this.board)}} <b> Num Missplaced</b> {{getMisplacedNum(this.board)}}
        </pre>
        <p>
            <b>No of Moves to solve:</b> {{this.moves.length}}
        </p>
        <p>
            <b>Solution:</b> {{this.moves}}
        </p>
        <p>
            <b>Nodes Visited:</b> {{this.totalNodes | number: '2.'}}
        </p>
        <p>
            <!-- <b>Nodes Currently in the Queue:</b> {{this.pq01.heap.length | number: '2.'}} -->
            <b>Nodes Currently in the Queue:</b> {{this.pq.queue.length | number: '2.'}}
        </p>
        <p>
            <b>Time:</b> {{this.timeTotal }} milisecs
        </p>
    </div>
    <button (click)="linearConflicts(this.board)">lConflicts</button>

</div>