main {
    display: grid;
    // grid-template-columns: 150px 150px 150px;
    grid-template-columns: 120px 120px 120px 120px ;
    grid-gap: 0px;
    border: 4px rgb(29, 28, 28) solid;
    // width: 450px;
    width: 480px;
    background-color: black;
    margin-left: 100px;
}

.board {
    // border: 1px gray solid;
    border: 2px rgb(29, 28, 28) solid;
    height: 120px;
    background-color: rgb(116, 147, 175);
    font-size: 30px;
}

.board-special {
    // border: 1px gray solid;
    border: 1px black solid;
    // background-color: rgb(223, 223, 188);
    background-color: rgb(7, 7, 7);
    height: 120px;
    font-size: 30px;
}

button {
    border-radius: 7px;
}