main {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    // grid-template-columns: 120px 120px 120px 120px ;
    grid-gap: 0px;
    border: 4px rgb(29, 28, 28) solid;
    // width: 450px;
    width: 580px;
    background-color: black;
    margin-left: 100px;
    // float: right;

}

.boardThree{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 0px;
    border: 4px rgb(29, 28, 28) solid;
    width: 450px;
    background-color: black;
    margin-left: 100px;

}

.boardFour{
    display: grid;
    grid-template-columns: 120px 120px 120px 120px ;
    grid-gap: 0px;
    border: 4px rgb(29, 28, 28) solid;
    width: 480px;
    background-color: black;
    margin-left: 100px;
}
// div {
//     color: #fff;
//     font-family: Tahoma, Verdana, Segoe, sans-serif;
//     padding: 10px;
// }

.container {
    // background-color:#2E4272;
    display:flex;
}
.fixed {
    // background-color:#4F628E;
    width: 700px;
}
.flex-item {
    // background-color:#7887AB;
    flex-grow: 1;
}

.board3 {
    // border: 1px gray solid;
    border: 2px rgb(29, 28, 28) solid;
    height: 150px;
    background-color: rgb(116, 147, 175);
    font-size: 30px;
}

.board4 {
    // border: 1px gray solid;
    border: 2px rgb(29, 28, 28) solid;
    height: 120px;
    background-color: rgb(116, 147, 175);
    font-size: 30px;
}

.board5 {
    // border: 1px gray solid;
    border: 2px rgb(29, 28, 28) solid;
    height: 110px;
    background-color: rgb(116, 147, 175);
    font-size: 30px;
}

.board6 {
    // border: 1px gray solid;
    border: 2px rgb(29, 28, 28) solid;
    height: 91px;
    background-color: rgb(116, 147, 175);
    font-size: 27px;
}

.board-special3 {
    // border: 1px gray solid;
    border: 1px black solid;
    // background-color: rgb(223, 223, 188);
    background-color: rgb(7, 7, 7);
    height: 150px;
    font-size: 30px;
    border-radius: 7px;
}

.board-special4 {
    // border: 1px gray solid;
    border: 1px black solid;
    // background-color: rgb(223, 223, 188);
    background-color: rgb(7, 7, 7);
    height: 120px;
    font-size: 30px;
    border-radius: 7px;
}

.board-special5 {
    // border: 1px gray solid;
    border: 1px black solid;
    // background-color: rgb(223, 223, 188);
    background-color: rgb(7, 7, 7);
    height: 110px;
    font-size: 30px;
    border-radius: 7px;
}


.board-special6 {
    // border: 1px gray solid;
    border: 1px black solid;
    // background-color: rgb(223, 223, 188);
    background-color: rgb(7, 7, 7);
    height: 91px;
    font-size: 27px;
    border-radius: 7px;
}

button {
    border-radius: 7px;
    // border:rgb(7, 7, 7)
}

.btnstyle {
    border-radius: 1px;
    margin: 5px;
    padding: 5px;
    border:rgb(7, 7, 7)
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
.radio-button {
    margin: 5px;
    border-color:rgb(12, 17, 26); 
  }

 