<h3 style="margin-left: 100px;">Sliding Puzzle</h3>
<main>
    <button *ngFor="let i of board" (click)="clickFunction(i)" [ngClass]="'board'" [class.board-special]="i===9">{{i |
        notnine}}</button>
</main>
<div style="margin-left: 100px;">

    <div class="div">
        <br />
        <button (click)="shuffleBoard(board)">Shuffle</button>
        <button (click)="makeTree(arrayToNum(this.board), 31)">Find Solution</button>
        <button [disabled]="disabledButton" (click)="solveFromMoves(moves)">SolveMoves</button>
        <button (click)="resetBoard()">Reset</button>
        <p>
            <b>Manhattan Distance:</b> {{mdSum(this.board)}}
        </p>
        <p>
            <b>No of Moves to solve:</b> {{this.moves.length}}
        </p>
        <p>
            <b>Solution:</b> {{this.moves}}
        </p>
        <p>
            <b>Nodes Visited:</b> {{this.totalNodes}}
        </p>
        <p>
            <b>Nodes Currently in the Queue:</b> {{this.pq.queue.length}}
        </p>
    </div>

</div>