/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

 .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:rgb(23, 33, 49); 
  }
  
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    color:rgb(217, 244, 66);
    background-color:rgb(0, 0, 0) ;
  }
  
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
      background-color:rgba(5, 4, 4, 0.26)
  }